.container_graph {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vh;
}

.graph__content {
  background-color: #f8f8f8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  width: 976px;
  height: 500px;
}

.graph_label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}
